.fruits{
    width: 95%;
    margin: auto;
    cursor: pointer;
}
.fruit{
    width: 44%;
    margin: 10px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 2px 2px #808080a1;
    border-radius: 10px;
    text-align: center;
    color: #6fae07;
}
.fruit img{
    width:100%;
    height: 175px;
}

